<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versionNum</key>
	<string>2.1.3</string>
	<key>isuserank</key>
	<true/>
	<key>isuserank1</key>
	<true/>
	<key>isuserank2</key>
	<true/>
	<key>isuserank3</key>
	<true/>
	<key>isuserank4</key>
	<true/>
	<key>isuserank5</key>
	<true/>
	<key>isuserank6</key>
	<true/>
	<key>isuserank7</key>
	<true/>
	<key>isuserank8</key>
	<true/>
	<key>isuserank9</key>
	<true/>
	<key>isuserank10</key>
	<true/>
	<key>isuserankinstall</key>
	<true/>
	<key>isuserankinstall2</key>
	<true/>
	<key>isuserankinstall3</key>
	<true/>
	<key>isuserankinstall4</key>
	<true/>
	<key>isuserankinstall5</key>
	<true/>
	<key>isuserankinstall6</key>
	<true/>
	<key>isuserankinstall7</key>
	<true/>
	<key>isHalftopon</key>
	<false/>
	<key>isFtopon</key>
	<true/>
	<key>isnotusetoponnativead</key>
	<false/>
	<key>isnotusetoponopenad</key>
	<false/>
	<key>isuseopenad</key>
	<false/>
	<key>isusebannerad</key>
	<false/>
	<key>isNotCheckIP</key>
	<false/>
	<key>isneedupgrade</key>
	<true/>
	<key>upgrade_minversion</key>
	<string>270</string>
	<key>upgrade_maxversion</key>
	<string>280</string>
	<key>Numberof_Chapter_AD</key>
	<string>0</string>
	<key>Numberof_Chapter_AD_Scroll</key>
	<string>5</string>
	<key>TimeofRewardAD</key>
	<string>3600</string>
	<key>TimeofOpenAD</key>
	<string>3600</string>
	<key>noticeversion</key>
	<string>1.5</string>
	<key>noticecontent</key>
	<string>如果无法搜索，请重启app</string>
	<key>settingversionurl</key>
	<string>https://raw.githubusercontent.com/dearmboy/read/main/version.plist</string>
	<key>settingdataurl</key>
	<string>https://raw.githubusercontent.com/dearmboy/read/main/source.plist</string>
	<key>accesarray</key>
	<array>
		<string>拯救美强惨反派</string>
	</array>
</dict>
</plist>
