<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versionNum</key>
	<string>2.0.99</string>
	<key>isuserank</key>
	<true/>
	<key>isuserank1</key>
	<true/>
	<key>isuserank2</key>
	<true/>
	<key>isuserank3</key>
	<true/>
	<key>isuserank4</key>
	<true/>
	<key>isuserank5</key>
	<true/>
	<key>isuserank6</key>
	<true/>
	<key>isuserank7</key>
	<true/>
	<key>isuserank8</key>
	<true/>
	<key>isuserankinstall</key>
	<true/>
	<key>isuserankinstall2</key>
	<true/>
	<key>isuserankinstall3</key>
	<true/>
	<key>isuserankinstall4</key>
	<true/>
	<key>isuserankinstall5</key>
	<true/>
	<key>isHalftopon</key>
	<false/>
	<key>isFtopon</key>
	<true/>
	<key>isnotusetoponnativead</key>
	<false/>
	<key>isnotusetoponopenad</key>
	<false/>
	<key>isuseopenad</key>
	<false/>
	<key>isusebannerad</key>
	<false/>
	<key>isNotCheckIP</key>
	<false/>
	<key>Numberof_Chapter_AD</key>
	<string>0</string>
	<key>Numberof_Chapter_AD_Scroll</key>
	<string>5</string>
	<key>TimeofRewardAD</key>
	<string>3700</string>
	<key>TimeofOpenAD</key>
	<string>3600</string>
	<key>noticeversion</key>
	<string>1.1</string>
	<key>noticecontent</key>
	<string>如果阅读时出现章节缺失或者空白的情况，请先手动刷新。如果仍有问题，请使用换源功能！</string>
	<key>settingversionurl</key>
	<string>https://gitee.com/tonypeter342423/toplist/raw/master/version.plist</string>
	<key>settingdataurl</key>
	<string>https://gitee.com/tonypeter342423/toplist/raw/master/newSourceDataDict.plist</string>
	<key>accesarray</key>
	<array>
		<string>拯救美强惨反派</string>
	</array>
</dict>
</plist>
